<mat-card class="example-result-card">
    <mat-card-content>
        <mat-label [attr.for]="id">{{ label }}: {{ value }}</mat-label>
        <mat-slider [color]="color"
                    [errorStateMatcher]="getTheErrorStateMatcherService()"
                    [formControl]="myFormControl"
                    [id]="id"
                    [invert]="!!invert"
                    [max]="max"
                    [min]="min"
                    [ngClass]="classCss"
                    [readonly]="!!isReadOnly"
                    [step]="step"
                    [thumbLabel]="thumbLabel"
                    [tickInterval]="getSliderTickInterval()"
                    [vertical]="!!vertical">
        </mat-slider>
        <mat-error *ngIf="myFormControl?.hasError('required') && myFormControl.touched">ERRO: Este campo é obrigatório!</mat-error>
    </mat-card-content>
</mat-card>
