.example-container > * {
    width: 97%;
    display: flex;
    flex-direction: column;
    margin: 4px;
}

.example-card {
    width: 450px;
    left: 19%;
    right: 5%;
    height: 200px;
    overflow: hidden;
}

.example-form {
    width: 100%;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 47%;
}

.low-width {
    width: 26%;
}

.example-button-row button,
.example-button-row a {
    margin: 2px;
}