// Include non-theme styles for core.
@import '../../../../theme.scss';

.secondbanner {
    background: mat-color($light);
    color: mat-color($dark);
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 400px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.example-card {
    max-width:300px;
    max-height:400px;
    background-color: mat-color($dark);
    color: mat-color($light);
}

.example-card img {
    width: 300px;
    height: 250px;
}

.example-card mat-card-subtitle {
    color: mat-color($light);
    text-align:left;
}

mat-card-actions :hover{
    background-color: mat-color($light);
    color: mat-color($dark);
}