// Include non-theme styles for core.
@import '../../../../theme.scss';

.secondbanner {
    background: $black;
    color: mat-color($light);
    margin: 0;
    padding: 0;
    padding-top: 30px;
}

.swiper-secondbanner {
}

.swiper-container {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 3%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 20%;
    height: 50%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.example-card {
    max-width: 100%;
    max-height: 100%;
    background-color: mat-color($light);
    color: mat-color($dark);
}

.example-card img {
    width: 100%;
    height: 75%;
    padding-right: 4%;
}

.example-card img:hover{
    cursor: pointer;
} 

.example-card mat-card-subtitle {
    color: mat-color($dark);
    text-align: left;
}

mat-card-actions :hover {
    background-color: mat-color($dark);
    color: mat-color($light);
}
