.example-container > * {
    width: 97%;
    display: flex;
    flex-direction: column;
    margin: 4px;
}

.example-card {
    max-width: 58%;
    min-width: 24%;
    width: auto;
    left: 19%;
    right: 5%;
    height: 90%;
    overflow: auto;
}

.example-form {
    width: 99%;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 47%;
}

.low-width {
    width: 26%;
}

.example-button-row button,
.example-button-row a {
    margin: 2px;
}
