// Include non-theme styles for core.
@import '../../../../theme.scss';

.example-container > * {
    width: 97%;
    display: flex;
    flex-direction: column;
    margin: 4px;
}

.example-form {
    width: 100%;
}

.example-card {
    overflow: hidden;
    position: absolute;
    top: 10%;
    max-width: 40%;
    min-width: 30%;
    width: auto;
    left: 30%;
    right: 5%;
}

.full-width{
    width: 100%;
    padding: 5px;
}

.half-width {
    width: 47%;
    padding: 5px;
}

.example-button-row button,
.example-button-row a {
    margin: 2px;
}

mat-card-header {
    padding-left: 25%;
    padding-top:5%;
}