.example-container-login {
    display: flex;
    flex-direction: column;
    font-style: oblique;
    font-size: medium;
    overflow: hidden;
}

.example-container-login > * {
    width: 100%;
}

.logo-login {
    background-image: url(../../../../assets/images/villsec-logo-barra-principal.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top;
    overflow: hidden;
    position: absolute;
    width: 40%;
    left: 30%;
    top: 15%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

