<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
            <h5>Formulario de cadastro do seguidor.</h5>
        </mat-card-title>
        <mat-card-subtitle>V1LLSEC</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="example-container mat-elevation-z8">
            <form class="example-form" [formGroup]="getTheForm()">
                <wbr />
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <img [src]="getUrl()" *ngIf="getFormat()==='image' && getUrl()" width="426px" height="240px"> <br />
                            <wbr />
                            <p>
                                <input formControlName="file" type='file' (change)="onSelectFile($event)" accept=".jpg,.png" />
                            </p>
                        </td>
                    </tr>
                </table>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <app-input formControlName="email"
                                       hint="v1llsec@v1llsec.com"
                                       id="email"
                                       label="Email"
                                       maxLength="120"
                                       minLength="6"
                                       [myFormControl]="getTheForm().get('email')"
                                       placeholder="Insira o seu Email."                                       
                                       type="email">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <app-input formControlName="senha"
                                       hint="Por questão de segurança evite muitos numeros em sequência e data de aniversario."
                                       id="senha"
                                       label="Senha"
                                       [myFormControl]="getTheForm().get('senha')"
                                       maxLength="20"
                                       minLength="6"
                                       placeholder="Insira a sua senha."
                                       type="password">
                            </app-input>
                        </td>
                        <td>
                            <app-datepicker formControlName="dataNascimento"
                                            id="dataNascimento"
                                            label="Data de Nascimento"
                                            [myFormControl]="getTheForm().get('dataNascimento')"
                                            startView="year">
                            </app-datepicker>
                        </td>
                        <td>
                            <app-select formControlName="genero"
                                        hint="Selecione o genero."
                                        id="genero"
                                        label="Genero"
                                        [myFormControl]="getTheForm().get('genero')"
                                        [options]="getOptionsGenero()">
                            </app-select>
                        </td>
                    </tr>
                </table>
                <wbr />
                <table>
                    <tr>
                        <td>
                            <app-input formControlName="nome"
                                       id="nome"
                                       label="Nome"
                                       maxLength="100"
                                       minLength="4"
                                       [myFormControl]="getTheForm().get('nome')"
                                       placeholder="Insira o nome.">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="example-full-width" cellspacing="0" width="35%">
                    <tr>
                        <td>
                            <app-input formControlName="cep"
                                       hint="Ex.: 01311920"
                                       id="cep"
                                       label="CEP"
                                       maxLength="10"
                                       minLength="8"
                                       [myFormControl]="getTheForm().get('cep')"
                                       placeholder="Informe o CEP."
                                       (theBlur)="consultaCEP()">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <app-input formControlName="logradouro"
                                       hint="Ex.: Avenida Paulista"
                                       id="logradouro"
                                       label="Logradouro"
                                       maxLength="100"
                                       minLength="1"
                                       [myFormControl]="getTheForm().get('logradouro')"
                                       placeholder="Informe o logradouro.">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <app-input formControlName="bairro"
                                       hint="Ex.: Bela Vista"
                                       id="bairro"
                                       label="Bairro"
                                       maxLength="50"
                                       minLength="1"
                                       [myFormControl]="getTheForm().get('bairro')"
                                       placeholder="Informe o bairro.">
                            </app-input>
                        </td>
                        <td>
                            <app-input formControlName="cidade"
                                       hint="Ex.: São Paulo"
                                       id="cidade"
                                       label="Cidade"
                                       maxLength="50"
                                       minLength="1"
                                       [myFormControl]="getTheForm().get('cidade')"
                                       placeholder="Informe a cidade">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <app-input formControlName="estado"
                                       hint="Ex.: São Paulo"
                                       id="estado"
                                       label="Estado"
                                       maxLength="50"
                                       minLength="1"
                                       [myFormControl]="getTheForm().get('estado')"
                                       placeholder="Informe o estado.">
                            </app-input>
                        </td>
                        <td>
                            <app-input formControlName="pais"
                                       hint="Ex.: Brasil"
                                       id="pais"
                                       label="Pais"
                                       maxLength="50"
                                       minLength="1"
                                       [myFormControl]="getTheForm().get('pais')"
                                       placeholder="Informe o pais.">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <app-input formControlName="numeroTelefone1"
                                       hint="Ex.: 1199119221 | (11) 99999-9999 ..."
                                       id="numeroTelefone1"
                                       label="Numero do Telefone"
                                       maxLength="15"
                                       minLength="8"
                                       [myFormControl]="getTheForm().get('numeroTelefone1')"
                                       pattern="(\(?\d{2}\)?\s?)?(\d{4,5}\-?\d{4})"
                                       placeholder="Insira o numero do telefone com DDD sem pontuação.">
                            </app-input>
                        </td>
                        <td>
                            <app-select formControlName="tipoTelefone1"
                                        hint="Selecione um dos tipos de telefone."
                                        id="tipoTelefone1"
                                        label="Tipo do telefone"
                                        [myFormControl]="getTheForm().get('tipoTelefone1')"
                                        [options]="getOptionsTipoTelefone()">
                            </app-select>
                        </td>
                    </tr>
                </table>
                <wbr />
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <button class="full-width" mat-button color="primary" status="primary" [disabled]="getTheForm().invalid" (click)="onSave()"><mat-icon>save</mat-icon>Salvar</button>
                        </td>
                        <td>
                            <button class="full-width" mat-button color="accent" status="primary" (click)="onClear()"><mat-icon>clear</mat-icon>Limpar</button>
                        </td>
                        <td>
                            <button class="full-width" mat-button color="warn" status="warn" routerLink="/login"><mat-icon>keyboard_return</mat-icon>Voltar</button>
                        </td>
                    </tr>
                </table>
                <wbr />
            </form>
        </div>
    </mat-card-content>
</mat-card>
