<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
            <h5>Formulario de cadastro do seguidor.</h5>
        </mat-card-title>
        <mat-card-subtitle>V1LLSEC</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="example-container mat-elevation-z8">
            <form class="example-form" [formGroup]="getTheForm()">
                <wbr />
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <img [src]="getUrl()" *ngIf="getFormat()==='image' && getUrl()" height="50%" width="60%"> <br />
                            <wbr />
                            <p>
                                <input formControlName="file" type='file' (change)="onSelectFile($event)" accept=".jpg,.png" />
                            </p>
                        </td>
                    </tr>
                </table>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <app-input formControlName="email"
                                       id="email"
                                       label="Email"
                                       maxlength="120"
                                       placeholder="Insira o seu Email."
                                       hint="v1llsec@v1llsec.com"
                                       type="email">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <app-input formControlName="senha"
                                       id="senha"
                                       label="Senha"
                                       minlength="6"
                                       maxlength="20"
                                       placeholder="Insira a sua senha."
                                       type="password"
                                       hint="Por questão de segurança evite muitos numeros em sequência e data de aniversario.">
                            </app-input>
                        </td>
                        <td>
                            <app-datepicker formControlName="dataNascimento"
                                            id="dataNascimento"
                                            startView="year"
                                            label="Data de Nascimento">
                            </app-datepicker>
                        </td>
                        <td>
                            <app-select formControlName="genero"
                                        id="genero"
                                        label="Genero"
                                        hint="Selecione o genero."
                                        [options]="getOptionsGenero()">
                            </app-select>
                        </td>
                    </tr>
                </table>
                <wbr />
                <table>
                    <tr>
                        <td>
                            <app-input formControlName="nome"
                                       id="nome"
                                       label="Nome"
                                       minlength="4"
                                       maxlength="100"
                                       placeholder="Insira o nome.">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <app-select formControlName="status"
                                        id="status"
                                        label="Status"
                                        hint="Selecione um dos status."
                                        [options]="getOptionsStatus()">
                            </app-select>
                        </td>
                        <td>
                            <app-input formControlName="cep"
                                       id="cep"
                                       label="CEP"
                                       minlength="8"
                                       maxlength="10"
                                       placeholder="Informe o CEP, sem pontuação."
                                       hint="Ex.: 01311920"
                                       (theBlur)="consultaCEP()">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <app-input formControlName="logradouro"
                                       id="logradouro"
                                       label="Logradouro"
                                       minlength="1"
                                       maxlength="100"
                                       placeholder="Informe o logradouro."
                                       hint="Ex.: Avenida Paulista">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <app-input formControlName="bairro"
                                       id="bairro"
                                       label="Bairro"
                                       minlength="1"
                                       maxlength="50"
                                       placeholder="Informe o bairro."
                                       hint="Ex.: Bela Vista">
                            </app-input>
                        </td>
                        <td>
                            <app-input formControlName="cidade"
                                       id="cidade"
                                       label="Cidade"
                                       minlength="1"
                                       maxlength="50"
                                       placeholder="Informe a cidade"
                                       hint="Ex.: São Paulo">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <app-input formControlName="estado"
                                       id="estado"
                                       label="Estado"
                                       minlength="1"
                                       maxlength="50"
                                       placeholder="Informe o estado."
                                       hint="Ex.: São Paulo">
                            </app-input>
                        </td>
                        <td>
                            <app-input formControlName="pais"
                                       id="pais"
                                       label="Pais"
                                       minlength="1"
                                       maxlength="50"
                                       placeholder="Informe o pais."
                                       hint="Ex.: Brasil">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <app-input formControlName="numeroTelefone1"
                                       id="numeroTelefone1"
                                       label="Numero do Telefone"
                                       minlength="3"
                                       maxlength="20"
                                       placeholder="Insira o numero do telefone com DDD sem pontuação."
                                       hint="Ex.: 1199119221">
                            </app-input>
                        </td>
                        <td>
                            <app-select formControlName="tipoTelefone1"
                                        id="tipoTelefone1"
                                        label="Tipo do telefone"
                                        hint="Selecione um dos tipos de telefone."
                                        [options]="getOptionsTipoTelefone()">
                            </app-select>
                        </td>
                    </tr>                    
                </table>                
                <wbr />
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <button class="full-width" mat-button color="primary" status="primary" [disabled]="getTheForm().invalid" (click)="onSave()"><mat-icon>save</mat-icon>Salvar</button>
                        </td>
                        <td>
                            <button class="full-width" mat-button color="accent" status="primary" (click)="onClear()"><mat-icon>clear</mat-icon>Limpar</button>
                        </td>
                        <td>
                            <button class="full-width" mat-button color="warn" status="warn" routerLink="/seguidores"><mat-icon>keyboard_return</mat-icon>Voltar</button>
                        </td>
                    </tr>
                </table>
                <wbr />
            </form>
        </div>
    </mat-card-content>
</mat-card>
