<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
            <h4>Formularios de registros de Eventos.</h4>
        </mat-card-title>
        <mat-card-subtitle>V1LLSEC</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="example-container mat-elevation-z8">
            <form class="example-form" [formGroup]="theForm">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <img [src]="url" *ngIf="format==='image' && url"> <br />
                            <wbr />
                            <p>
                                <input formControlName="file" type='file' (change)="onSelectFile($event)" accept=".jpg,.png" />
                            </p>
                        </td>
                    </tr>
                </table>
                <wbr />
                <table>
                    <tr>
                        <td>
                            <app-input formControlName="nome"
                                       id="nome"
                                       label="Nome do Evento"
                                       minlength="1"
                                       maxlength="100"
                                       placeholder="Insira o nome do Evento."
                                       hint="Ex.: Tomorrowland">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <app-textarea formControlName="descricao"
                                          id="descricao"
                                          label="Descrição do Álbum"
                                          maxlength="50"
                                          placeholder="Insira uma descrição do álbum">
                            </app-textarea>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <app-select formControlName="tipoEvento"
                                        id="tipoEvento"
                                        label="Tipo do Evento"
                                        hint="Selecione um dos tipos."
                                        [options]="optionsTipoEvento">
                            </app-select>
                        </td>
                        <td>
                            <app-input formControlName="classificacao"
                                       id="classificacao"
                                       label="Classificação"
                                       minlength="1"
                                       maxlength="100"
                                       placeholder="Informe a classificação do evento"
                                       hint="Ex.: Livre | 18 anos | etc...">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <app-datepicker formControlName="diaInicio"
                                            id="diaInicio"
                                            startView="year"
                                            label="Dia do Início do Evento"
                                            placeholder="Informe a data de início do evento">
                            </app-datepicker>
                        </td>
                        <td>
                            <app-timepicker formControlName="horaInicio"
                                            id="horaInicio"
                                            label="Hora do Início Evento"
                                            placeholder="Horário de início do evento">
                            </app-timepicker>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <app-datepicker formControlName="diaTermino"
                                            id="diaTermino"
                                            startView="year"
                                            label="Dia do Termino do Evento"
                                            placeholder="Dia de Termíno do evento">
                            </app-datepicker>
                        </td>
                        <td>
                            <app-timepicker formControlName="horaTermino"
                                            id="horaTermino"
                                            label="Hora do Termino Evento"
                                            placeholder="Horário de termíno do evento">
                            </app-timepicker>
                        </td>
                    </tr>
                </table>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <app-input formControlName="cep"
                                       id="cep"
                                       label="CEP"
                                       minlength="8"
                                       maxlength="10"
                                       placeholder="Insira o CEP, sem pontuação."
                                       hint="Ex.: 01311920"
                                       (theBlur)="consultaCEP()">
                            </app-input>
                        </td>
                        <td>
                            <app-input formControlName="logradouro"
                                       id="logradouro"
                                       label="Logradouro"
                                       minlength="1"
                                       maxlength="100"
                                       placeholder="Insira o logradouro"
                                       hint="Ex.: Avenida Paulista, 1000">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <app-input formControlName="cidade"
                                       id="cidade"
                                       label="Cidade"
                                       minlength="1"
                                       maxlength="50"
                                       placeholder="Insira a cidade"
                                       hint="Ex.: São Paulo">
                            </app-input>
                        </td>
                        <td>
                            <app-input formControlName="bairro"
                                       id="bairro"
                                       label="Bairro"
                                       minlength="1"
                                       maxlength="50"
                                       placeholder="Insira o bairro"
                                       hint="Ex.: Bela Vista">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <app-input formControlName="estado"
                                       id="estado"
                                       label="Estado"
                                       minlength="1"
                                       maxlength="50"
                                       placeholder="Insira o estado."
                                       hint="Ex.: São Paulo">
                            </app-input>
                        </td>
                        <td>
                            <app-input formControlName="pais"
                                       id="pais"
                                       label="Pais"
                                       minlength="1"
                                       maxlength="50"
                                       placeholder="Insira o pais."
                                       hint="Ex.: Brasil">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <button class="full-width" mat-button color="primary" status="primary" [disabled]="theForm.invalid" (click)="onSave()"><mat-icon>save</mat-icon>Salvar</button>
                        </td>
                        <td>
                            <button class="full-width" mat-button color="accent" status="primary" (click)="onClear()"><mat-icon>clear</mat-icon>Limpar</button>
                        </td>
                        <td>
                            <button class="full-width" mat-button color="warn" status="warn" routerLink="/eventos"><mat-icon>keyboard_return</mat-icon>Voltar</button>
                        </td>
                    </tr>
                </table>
                <wbr />
            </form>
        </div>
    </mat-card-content>
</mat-card>
