<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
            <h4>Formularios de registros de Eventos.</h4>
        </mat-card-title>
        <mat-card-subtitle>V1LLSEC</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="example-container mat-elevation-z8">
            <form class="example-form" [formGroup]="getTheForm()">
                <table class="full-width" cellspacing="0">
                    <tr>
                        <td>
                            <img [src]="getUrl()" *ngIf="getFormat()==='image' && getUrl()" width="640px" height="360px"> <br />
                            <wbr />
                            <p>
                                <input formControlName="file" type='file' (change)="onSelectFile($event)" accept=".jpg,.png" />
                            </p>
                        </td>
                    </tr>
                </table>
                <wbr />
                <table class="full-width">
                    <tr>
                        <td>
                            <app-input formControlName="nome"
                                       hint="Ex.: Tomorrowland"
                                       id="nome"
                                       label="Nome do Evento"
                                       maxLength="100"
                                       minLength="1"
                                       [myFormControl]="getTheForm().get('nome')"
                                       placeholder="Insira o nome do Evento.">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="full-width">
                    <tr>
                        <td>
                            <app-textarea formControlName="descricao"
                                          id="descricao"
                                          label="Descrição do Evento"
                                          maxLength="255"
                                          [myFormControl]="getTheForm().get('descricao')"
                                          placeholder="Insira uma descrição do Evento">
                            </app-textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <app-input formControlName="ingressoUrl"
                                       id="ingressoUrl"
                                       label="Link para o site de compra dos ingressos"
                                       [myFormControl]="getTheForm().get('ingressoUrl')"
                                       placeholder="Link para adquirir o ingresso."
                                       type="url">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="full-width">
                    <tr>
                        <td>
                            <app-select formControlName="tipoEvento"
                                        hint="Selecione um dos tipos."
                                        id="tipoEvento"
                                        label="Tipo do Evento"
                                        [myFormControl]="getTheForm().get('tipoEvento')"
                                        [options]="getOptionsTipoEvento()">
                            </app-select>
                        </td>
                        <td>
                            <app-input formControlName="classificacao"
                                       hint="Ex.: Livre | 18 anos | etc..."
                                       id="classificacao"
                                       label="Classificação"
                                       maxLength="100"
                                       minLength="1"
                                       [myFormControl]="getTheForm().get('classificacao')"
                                       placeholder="Informe a classificação do evento">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="half-width">
                    <tr>
                        <td class="low-width">
                            <app-datepicker formControlName="diaInicio"
                                            id="diaInicio"
                                            label="Dia do Início do Evento"
                                            [myFormControl]="getTheForm().get('diaInicio')"
                                            placeholder="Informe a data de início do evento"
                                            startView="year">
                            </app-datepicker>
                        </td>
                        <td class="low-width">
                            <app-timepicker formControlName="horaInicio"
                                            id="horaInicio"
                                            label="Hora do Início Evento"
                                            [myFormControl]="getTheForm().get('horaInicio')"
                                            placeholder="Horário de início do evento">
                            </app-timepicker>
                        </td>
                    </tr>
                    <tr>
                        <td class="low-width">
                            <app-datepicker formControlName="diaTermino"
                                            id="diaTermino"
                                            label="Dia do Termino do Evento"
                                            [myFormControl]="getTheForm().get('diaTermino')"
                                            placeholder="Dia de Termíno do evento"
                                            startView="year">
                            </app-datepicker>
                        </td>
                        <td class="low-width">
                            <app-timepicker formControlName="horaTermino"
                                            id="horaTermino"
                                            label="Hora do Termino Evento"
                                            [myFormControl]="getTheForm().get('horaTermino')"
                                            placeholder="Horário de termíno do evento">
                            </app-timepicker>
                        </td>
                    </tr>
                </table>
                <table class="full-width" cellspacing="0">
                    <tr>
                        <td class="low-width">
                            <app-input formControlName="cep"
                                       hint="Ex.: 01311920"
                                       id="cep"
                                       label="CEP"
                                       maxLength="10"
                                       minLength="8"
                                       [myFormControl]="getTheForm().get('cep')"
                                       pattern="(\d{5}\-?\d{3})"
                                       placeholder="Insira o CEP, sem pontuação."
                                       (theBlur)="onConsultaCEP()">
                            </app-input>
                        </td>
                        <td>
                            <app-input formControlName="logradouro"
                                       hint="Ex.: Avenida Paulista, 1000"
                                       id="logradouro"
                                       label="Logradouro"
                                       maxLength="100"
                                       minLength="1"
                                       [myFormControl]="getTheForm().get('logradouro')"
                                       placeholder="Insira o logradouro">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="full-width" cellspacing="0">
                    <tr>
                        <td>
                            <app-input formControlName="cidade"
                                       hint="Ex.: São Paulo"
                                       id="cidade"
                                       label="Cidade"
                                       maxLength="50"
                                       minLength="1"
                                       [myFormControl]="getTheForm().get('cidade')"
                                       placeholder="Insira a cidade">
                            </app-input>
                        </td>
                        <td>
                            <app-input formControlName="bairro"
                                       hint="Ex.: Bela Vista"
                                       id="bairro"
                                       label="Bairro"
                                       maxLength="50"
                                       minLength="1"
                                       [myFormControl]="getTheForm().get('bairro')"
                                       placeholder="Insira o bairro">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="full-width" cellspacing="0">
                    <tr>
                        <td>
                            <app-input formControlName="estado"
                                       hint="Ex.: São Paulo"
                                       id="estado"
                                       label="Estado"
                                       maxLength="50"
                                       minLength="1"
                                       [myFormControl]="getTheForm().get('estado')"
                                       placeholder="Insira o estado.">
                            </app-input>
                        </td>
                        <td>
                            <app-input formControlName="pais"
                                       hint="Ex.: Brasil"
                                       id="pais"
                                       label="Pais"
                                       maxLength="50"
                                       minLength="1"
                                       [myFormControl]="getTheForm().get('pais')"
                                       placeholder="Insira o pais.">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="full-width">
                    <tr>
                        <td>
                            <app-input formControlName="googleMapsUrl"
                                       id="googleMapsUrl"
                                       label="Google Maps Embed"
                                       maxLength="1000"
                                       [myFormControl]="getTheForm().get('googleMapsUrl')"
                                       placeholder="Incorpore o google maps aqui."
                                       type="url">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="full-width" cellspacing="0">
                    <tr>
                        <td class="low-width">
                            <button class="full-width" mat-button color="primary" status="primary" [disabled]="getTheForm().invalid" (click)="onSave()"><mat-icon>save</mat-icon>Salvar</button>
                        </td>
                        <td class="low-width">
                            <button class="full-width" mat-button color="accent" status="primary" (click)="onClear()"><mat-icon>clear</mat-icon>Limpar</button>
                        </td>
                        <td class="low-width">
                            <button class="full-width" mat-button color="warn" status="warn" routerLink="/eventos"><mat-icon>keyboard_return</mat-icon>Voltar</button>
                        </td>
                    </tr>
                </table>
                <wbr />
            </form>
        </div>
    </mat-card-content>
</mat-card>
