<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
            <h5>Formulario de cadastro do proprietário.</h5>
        </mat-card-title>
        <mat-card-subtitle>V1LLSEC</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="example-container mat-elevation-z8">
            <form class="example-form" [formGroup]="getTheForm()">
                <wbr />
                <table class="full-width" cellspacing="0">
                    <tr>
                        <td>
                            <img [src]="getUrl()" *ngIf="getFormat()==='image' && getUrl()" width="426px" height="240px"> <br />
                            <wbr />
                            <p>
                                <input formControlName="file" type='file' (change)="onSelectFile($event)" accept=".jpg,.png" />
                            </p>
                        </td>
                    </tr>
                </table>
                <table class="full-width" cellspacing="0">
                    <tr>
                        <td>
                            <app-input formControlName="email"
                                       hint="v1llsec@v1llsec.com"
                                       id="email"
                                       label="Email"
                                       maxLength="120"
                                       minLength="6"
                                       [myFormControl]="getTheForm().get('email')"
                                       placeholder="Insira o seu Email."
                                       type="email">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="full-width" cellspacing="0">
                    <tr>
                        <td>
                            <app-input formControlName="senha"
                                       hint="Por questão de segurança evite muitos numeros em sequência e data de aniversario."
                                       id="senha"
                                       label="Senha"
                                       maxlength="20"
                                       minlength="6"
                                       [myFormControl]="getTheForm().get('senha')"
                                       placeholder="Insira a sua senha."
                                       type="password">
                            </app-input>
                        </td>
                        <td>
                            <app-datepicker formControlName="dataNascimento"
                                            id="dataNascimento"
                                            label="Data de Nascimento"
                                            [myFormControl]="getTheForm().get('dataNascimento')"
                                            startView="year">
                            </app-datepicker>
                        </td>
                        <td>
                            <app-select formControlName="genero"
                                        hint="Selecione o genero."
                                        id="genero"
                                        label="Genero"
                                        [myFormControl]="getTheForm().get('genero')"
                                        [options]="getOptionsGenero()">
                            </app-select>
                        </td>
                    </tr>
                </table>
                <wbr />
                <table class="full-width">
                    <tr>
                        <td>
                            <app-input formControlName="nome"
                                       id="nome"
                                       label="Nome"
                                       maxlength="100"
                                       minlength="4"
                                       [myFormControl]="getTheForm().get('nome')"
                                       placeholder="Insira o nome.">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="half-width" cellspacing="0">
                    <tr>
                        <td>
                            <app-select formControlName="status"
                                        hint="Selecione um dos status."
                                        id="status"
                                        label="Status"
                                        [myFormControl]="getTheForm().get('status')"
                                        [options]="getOptionsStatus()">
                            </app-select>
                        </td>
                        <td>
                            <app-input formControlName="cep"
                                       id="cep"
                                       hint="Ex.: 01311920 ou 01311-920"
                                       label="CEP"
                                       maxlength="10"
                                       minlength="8"
                                       [myFormControl]="getTheForm().get('cep')"
                                       pattern="(\d{5}\-?\d{3})"
                                       placeholder="Informe o CEP, sem pontuação."
                                       (theBlur)="consultaCEP()">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="full-width">
                    <tr>
                        <td>
                            <app-input formControlName="logradouro"
                                       hint="Ex.: Avenida Paulista"
                                       id="logradouro"
                                       label="Logradouro"
                                       maxlength="100"
                                       minlength="1"
                                       [myFormControl]="getTheForm().get('logradouro')"
                                       placeholder="Informe o logradouro.">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="full-width" cellspacing="0">
                    <tr>
                        <td>
                            <app-input formControlName="bairro"
                                       hint="Ex.: Bela Vista"
                                       id="bairro"
                                       label="Bairro"
                                       maxlength="50"
                                       minlength="1"
                                       [myFormControl]="getTheForm().get('bairro')"
                                       placeholder="Informe o bairro.">
                            </app-input>
                        </td>
                        <td>
                            <app-input formControlName="cidade"
                                       hint="Ex.: São Paulo"
                                       id="cidade"
                                       label="Cidade"
                                       maxlength="50"
                                       minlength="1"
                                       [myFormControl]="getTheForm().get('cidade')"
                                       placeholder="Informe a cidade">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="full-width" cellspacing="0">
                    <tr>
                        <td>
                            <app-input formControlName="estado"
                                       hint="Ex.: São Paulo"
                                       id="estado"
                                       label="Estado"
                                       maxlength="50"
                                       minlength="1"
                                       [myFormControl]="getTheForm().get('estado')"
                                       placeholder="Informe o estado.">
                            </app-input>
                        </td>
                        <td>
                            <app-input formControlName="pais"
                                       hint="Ex.: Brasil"
                                       id="pais"
                                       label="Pais"
                                       maxlength="50"
                                       minlength="1"
                                       [myFormControl]="getTheForm().get('pais')"
                                       placeholder="Informe o pais.">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="full-width">
                    <tr>
                        <td>
                            <app-input formControlName="googleMapsUrl"
                                       id="googleMapsUrl"
                                       label="Google Maps Embed"
                                       [myFormControl]="getTheForm().get('googleMapsUrl')"
                                       placeholder="Incorpore o google maps aqui."
                                       type="url">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="half-width" cellspacing="0">
                    <tr>
                        <td>
                            <app-input formControlName="numeroTelefone1"
                                       hint="Ex.: 1199119221 ou (11) 99999-9999"
                                       id="numeroTelefone1"
                                       label="Numero do Telefone"
                                       maxlength="20"
                                       minlength="3"
                                       [myFormControl]="getTheForm().get('numeroTelefone1')"
                                       pattern="(\(?\d{2}\)?\s?)?(\d{4,5}\-?\d{4})"
                                       placeholder="Insira o numero do telefone com DDD sem pontuação.">
                            </app-input>
                        </td>
                        <td>
                            <app-select formControlName="tipoTelefone1"
                                        hint="Selecione um dos tipos de telefone."
                                        id="tipoTelefone1"
                                        label="Tipo do telefone"
                                        [myFormControl]="getTheForm().get('tipoTelefone1')"
                                        [options]="getOptionsTipoTelefone()">
                            </app-select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <app-input formControlName="numeroTelefone2"
                                       hint="Ex.: 1199119221 ou (11) 99999-9999"
                                       id="numeroTelefone2"
                                       label="Numero do Telefone Alternativo"
                                       maxlength="20"
                                       minlength="3"
                                       [myFormControl]="getTheForm().get('numeroTelefone2')"
                                       pattern="(\(?\d{2}\)?\s?)?(\d{4,5}\-?\d{4})"
                                       placeholder="Insira o numero do telefone com DDD sem pontuação.">
                            </app-input>
                        </td>
                        <td>
                            <app-select formControlName="tipoTelefone2"
                                        hint="Selecione um dos tipos de telefone."
                                        id="tipoTelefone2"
                                        label="Tipo de telefone alternativo"
                                        [myFormControl]="getTheForm().get('tipoTelefone2')"
                                        [options]="getOptionsTipoTelefone()">
                            </app-select>
                        </td>
                    </tr>
                </table>
                <table class="full-width">
                    <tr>
                        <td>
                            <app-input formControlName="facebook"
                                       id="facebook"
                                       label="FACEBOOK"
                                       [myFormControl]="getTheForm().get('facebook')"
                                       type="url"
                                       placeholder="link para o facebook.">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="full-width">
                    <tr>
                        <td>
                            <app-input formControlName="instagram"
                                       id="instagram"
                                       label="INSTAGRAM"
                                       [myFormControl]="getTheForm().get('instagram')"
                                       type="url"
                                       placeholder="Link para o Instagram.">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="full-width">
                    <tr>
                        <td>
                            <app-input formControlName="spotify"
                                       id="spotify"
                                       label="SPOTIFY"
                                       [myFormControl]="getTheForm().get('spotify')"
                                       type="url"
                                       placeholder="Link para o spotify.">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="full-width">
                    <tr>
                        <td>
                            <app-input formControlName="twitter"
                                       id="twitter"
                                       label="TWITTER"
                                       [myFormControl]="getTheForm().get('twitter')"
                                       type="url"
                                       placeholder="Link para o Twitter.">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="full-width">
                    <tr>
                        <td>
                            <app-input formControlName="twitch"
                                       id="twitch"
                                       label="TWITCH"
                                       [myFormControl]="getTheForm().get('twitch')"
                                       type="url"
                                       placeholder="Link para a Twitch.">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="full-width">
                    <tr>
                        <td>
                            <app-input formControlName="youtube"
                                       id="youtube"
                                       label="YOUTUBE"
                                       [myFormControl]="getTheForm().get('youtube')"
                                       type="url"
                                       placeholder="Link para o Youtube.">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table class="full-width">
                    <tr>
                        <td>
                            <app-textarea formControlName="sobreMim"
                                          id="sobreMim"
                                          label="Quem sou EU?"
                                          [myFormControl]="getTheForm().get('sobreMim')"
                                          placeholder="Insira uma descrição de você mesmo">
                            </app-textarea>
                        </td>
                    </tr>
                </table>
                <wbr />
                <table class="full-width" cellspacing="0">
                    <tr>
                        <td>
                            <button class="full-width" mat-button color="primary" status="primary" [disabled]="getTheForm().invalid" (click)="onSave()"><mat-icon>save</mat-icon>Salvar</button>
                        </td>
                        <td>
                            <button class="full-width" mat-button color="accent" status="primary" (click)="onClear()"><mat-icon>clear</mat-icon>Limpar</button>
                        </td>
                        <td>
                            <button class="full-width" mat-button color="warn" status="warn" routerLink="/proprietarios"><mat-icon>keyboard_return</mat-icon>Voltar</button>
                        </td>
                    </tr>
                </table>
                <wbr />
            </form>
        </div>
    </mat-card-content>
</mat-card>
