<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
            <h4>Formularios armazenamento de arquivos.</h4>
        </mat-card-title>
        <mat-card-subtitle>V1LLSEC</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="example-container mat-elevation-z8">
            <form class="example-form" [formGroup]="theForm">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <img [src]="url" *ngIf="format==='image' && url" height="75%"> <br />
                            <video [src]="url" *ngIf="format==='video' && url" height="75%" controls></video> <br />
                            <wbr />
                            <p>
                                <input formControlName="file" type='file' (change)="onSelectFile($event)" accept=".jpg,.png,.mp4,.avi" />
                            </p>
                        </td>
                        <td>
                            <app-input formControlName="id"
                                       id="id"
                                       label="Codígo"
                                       hint="Codígo do treinamento"
                                       isReadyOnly="false"
                                       disabled="true">
                            </app-input>
                            <app-input formControlName="dtCriacao"
                                       id="dtCriacao"
                                       label="Data de Cadastro no Sistema"
                                       hint="Data de realização do cadastro!"
                                       isReadyOnly="false"
                                       disabled="true">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <wbr />
                <table>
                    <tr>
                        <td>
                            <app-textarea formControlName="descricao"
                                          id="descricao"
                                          label="Descrição do Arquivo"
                                          maxlength="255"
                                          placeholder="Insira uma descrição do arquivo">
                            </app-textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <app-input formControlName="titulo"
                                       id="titulo"
                                       label="Título para o Arquivos"
                                       minlength="1"
                                       maxlength="255"
                                       placeholder="Informe um título para o arquivo">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <app-select formControlName="tipoElemento"
                                        id="tipoElemento"
                                        label="Tipo do Arquivo"
                                        hint="Selecione um dos tipos."
                                        [options]="optionsTipoElemento">
                            </app-select>
                        </td>
                        <td>
                            <app-select formControlName="status"
                                        id="status"
                                        label="Status do Arquivo"
                                        hint="Selecione um dos status."
                                        [options]="optionsStatus">
                            </app-select>
                        </td>
                    </tr>
                </table>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <button class="full-width" mat-button color="primary" status="primary" [disabled]="theForm.invalid" (click)="onSave()"><mat-icon>save</mat-icon>Salvar</button>
                        </td>
                        <td>
                            <button class="full-width" mat-button color="accent" status="primary" (click)="onClear()"><mat-icon>clear</mat-icon>Limpar</button>
                        </td>
                        <td>
                            <button class="full-width" mat-button color="warn" status="warn" routerLink="/elementos"><mat-icon>keyboard_return</mat-icon>Voltar</button>
                        </td>
                    </tr>
                </table>
                <wbr />
            </form>
        </div>
    </mat-card-content>
</mat-card>

