<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
            <span class="android-title mdl-layout-title mdl-navigation__link">
                <a  href="#firstbanner">
                    <img class="android-logo-image" src="../../../../assets/images/villsec-logo-barra-principal.png">
                </a>
            </span>
            <!-- Add spacer, to align navigation to the right in desktop -->
            <div class="android-header-spacer mdl-layout-spacer"></div>
            <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
            </div>
            <!-- Navigation -->
            <div class="android-navigation-container">
                <nav class="android-navigation mdl-navigation">
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#albuns"><mat-icon class="example-icon">album</mat-icon> Albuns</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#eventos"><mat-icon class="example-icon">event</mat-icon> Eventos</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#fotos"><mat-icon class="example-icon">photo_library</mat-icon> Fotos</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#videos"><mat-icon class="example-icon">video_library</mat-icon> Vídeos</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#rodape"><mat-icon class="example-icon">contacts</mat-icon> Contatos</a>
                </nav>
            </div>
            <span class="android-mobile-title mdl-layout-title">
                <img class="android-logo-image" src="assets/images/villsec-logo-barra-principal.png">
            </span>
            <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
                <li class="mdl-menu__item" routerLink="/login">Login</li>
                <li class="mdl-menu__item" routerLink="/seguidores/novo">Registrar-se</li>
            </ul>
        </div>
    </div>
    <div class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
            <img class="android-logo-image" src="assets/images/villsec-logo-barra-principal.png">
        </span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="#albuns"><mat-icon class="example-icon">album</mat-icon> Albuns</a>
            <a class="mdl-navigation__link" href="#eventos"><mat-icon class="example-icon">event</mat-icon> Eventos</a>
            <a class="mdl-navigation__link" href="#fotos"><mat-icon class="example-icon">photo_library</mat-icon> Fotos</a>
            <a class="mdl-navigation__link" href="#videos"><mat-icon class="example-icon">video_library</mat-icon> Vídeos</a>
            <a class="mdl-navigation__link" href="#rodape"><mat-icon class="example-icon">contacts</mat-icon> Contatos</a>
            <div class="android-drawer-separator"></div>
            <span class="mdl-navigation__link" routerLink="/login"><mat-icon class="example-icon">login</mat-icon> Login</span>
        </nav>
    </div>
    <div class="android-content mdl-layout__content">

        <app-first-banner></app-first-banner>

        <app-second-banner></app-second-banner>

        <div class="background_banner">
            <app-third-banner></app-third-banner>

            <app-fourth-banner></app-fourth-banner>

            <app-fifth-banner></app-fifth-banner>
        </div>

        <app-sixth-banner></app-sixth-banner>

    </div>
</div>

