<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
            <h4>Formulario de alteração de música.</h4>
        </mat-card-title>
        <mat-card-subtitle>V1LLSEC</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-horizontal-stepper [linear]="isLinear()" labelPosition="bottom" #stepper>
            <mat-step [stepControl]="getTheAlbumForm()">
                <form>
                    <ng-template matStepLabel>PASSO 1: Selecione o Album.</ng-template>
                    <app-album-table></app-album-table>
                </form>
            </mat-step>
            <mat-step [stepControl]="getTheForm()">
                <div class="example-container mat-elevation-z8">
                    <form class="example-form" [formGroup]="getTheForm()">
                        <ng-template matStepLabel>PASSO 2: Dados da Música.</ng-template>
                        <table class="full-width" cellspacing="0">
                            <tr>
                                <td>
                                    <br />
                                    <audio [src]="getUrl()" *ngIf="getFormat()==='audio' && getUrl()" controls></audio> <br />
                                    <br />
                                    <p>
                                        <input formControlName="file" type='file' (change)="onSelectFile($event)" accept=".mp3" />
                                    </p>
                                </td>
                                <td class="low-width">
                                    <app-input formControlName="id"
                                               hint="Codígo"
                                               id="id"
                                               label="Codígo"
                                               isReadyOnly="false"
                                               [myFormControl]="getTheForm().get('id')">
                                    </app-input>
                                    <app-input formControlName="dtCriacao"
                                               hint="Data de realização do cadastro!"
                                               id="dtCriacao"
                                               label="Data de Cadastro no Sistema"
                                               isReadyOnly="false"
                                               [myFormControl]="getTheForm().get('dtCriacao')">
                                    </app-input>
                                </td>
                            </tr>
                        </table>
                        <wbr />
                        <table class="full-width">
                            <tr>
                                <td>
                                    <app-input formControlName="nome"
                                               hint="Ex.: Blaster"
                                               id="nome"
                                               label="Nome da Música"
                                               maxLength="100"
                                               minLength="1"
                                               [myFormControl]="getTheForm().get('nome')"
                                               placeholder="Insira o nome da música.">
                                    </app-input>
                                </td>
                            </tr>
                        </table>
                        <table class="full-width">
                            <tr>
                                <td>
                                    <app-input formControlName="autor"
                                               hint="Ex.: David Guetta"
                                               id="autor"
                                               label="Autor da Música"
                                               maxLength="100"
                                               minLength="1"
                                               [myFormControl]="getTheForm().get('autor')"
                                               placeholder="Insira o nome do autor da música.">
                                    </app-input>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <app-input formControlName="coautor"
                                               hint="Ex.: David Guetta"
                                               id="coautor"
                                               label="Coautor da Música"
                                               maxLength="100"
                                               minLength="1"
                                               [myFormControl]="getTheForm().get('coautor')"
                                               placeholder="Insira o nome do coautor da música.">
                                    </app-input>
                                </td>
                            </tr>
                        </table>
                        <table class="full-width">
                            <tr>
                                <td>
                                    <app-input formControlName="bpm"
                                               id="bpm"
                                               label="BPM"
                                               maxLength="4"
                                               minLength="1"
                                               [myFormControl]="getTheForm().get('bpm')"
                                               placeholder="Informe o BPM">
                                    </app-input>
                                </td>
                                <td>
                                    <app-input formControlName="duracao"
                                               id="duracao"
                                               label="Duração da Música"
                                               [myFormControl]="getTheForm().get('duracao')"
                                               placeholder="Informe a duração da música">
                                    </app-input>
                                </td>
                                <td>
                                    <app-select formControlName="copyright"
                                                hint="Selecione..."
                                                id="copyright"
                                                label="Copyright"
                                                [myFormControl]="getTheForm().get('copyright')"
                                                [options]="getOptionsCopyright()">
                                    </app-select>
                                </td>
                            </tr>
                        </table>
                        <table class="half-width">
                            <tr>
                                <td>
                                    <app-input formControlName="idioma"
                                               id="idioma"
                                               label="Idioma"
                                               maxLength="100"
                                               minLength="1"
                                               [myFormControl]="getTheForm().get('idioma')"
                                               placeholder="Informe o idioma.">
                                    </app-input>
                                </td>
                                <td>
                                    <app-input formControlName="faixa"
                                               id="faixa"
                                               label="Faixa"
                                               maxLength="2"
                                               [myFormControl]="getTheForm().get('faixa')"
                                               type="number">
                                    </app-input>
                                </td>
                            </tr>
                        </table>
                        <table class="full-width" cellspacing="0">
                            <tr>
                                <td>
                                    <button class="full-width" mat-button color="primary" status="primary" [disabled]="getTheForm().invalid" (click)="onSave()"><mat-icon>save</mat-icon>Salvar</button>
                                </td>
                                <td>
                                    <button class="full-width" mat-button color="accent" status="primary" (click)="onClear()"><mat-icon>clear</mat-icon>Limpar</button>
                                </td>
                                <td>
                                    <button class="full-width" mat-button color="warn" status="warn" routerLink="/musicas"><mat-icon>keyboard_return</mat-icon>Voltar</button>
                                </td>
                            </tr>
                        </table>
                        <wbr />
                    </form>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card-content>
</mat-card>


