<mat-form-field [appearance]="appearance">
    <mat-label>{{ label }}</mat-label>
    <select [errorStateMatcher]="getTheErrorStateMatcherService()"
            [formControl]="myFormControl"
            [id]="id"
            matNativeControl
            [readonly]="!!isReadOnly"
            [ngClass]="classCss">
        <option disabled label="--Escolha uma opção--"></option>
        <option *ngFor="let option of options" [ngValue]="option.value">
            <mat-icon matSuffix>{{ icon }}</mat-icon>{{option.option}}
        </option>
    </select>
    <mat-hint><strong>{{ hint }}</strong></mat-hint>
    <mat-error *ngIf="myFormControl?.hasError('required') && myFormControl.touched">ERRO: Este campo é obrigatório!</mat-error>
</mat-form-field>
