// Include non-theme styles for core.
@import '../../../../theme.scss';

.swiper-thirdbanner {
}

.swiper-container {
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 25%;
    height: auto;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.example-card {
    width: 100%;
    height: 100%;
    background-color: mat-color($light);
    color: mat-color($dark);
}

.example-card img {
    width: 100%;
    height: 40%;
    padding-left: 4%;
}

.example-card img:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.example-card mat-card-subtitle {
    color: mat-color($dark);
    text-align: left;
}

mat-card-actions :hover {
    background-color: mat-color($dark);
    color: mat-color($light);
}

mat-form-field {
    width: 100%;
}

.title_thirdbanner {
    background-color: $white;
    color: $black;
    text-align: center;
}
