<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
            <h4>Formularios de alteração de álbuns.</h4>
        </mat-card-title>
        <mat-card-subtitle>V1LLSEC</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="example-container mat-elevation-z8">
            <form class="example-form" [formGroup]="getTheForm()">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <img [src]="getUrl()" *ngIf="getFormat()==='image' && getUrl()" height="25%"> <br />
                            <wbr />
                            <p>
                                <input formControlName="file" type='file' (change)="onSelectFile($event)" accept=".jpg,.png" />
                            </p>
                        </td>
                        <td>
                            <app-input formControlName="id"
                                       id="id"
                                       label="Codígo"
                                       hint="Codígo"
                                       isReadyOnly="false"
                                       disabled="true">
                            </app-input>
                            <app-input formControlName="dtCriacao"
                                       id="dtCriacao"
                                       label="Data de Cadastro no Sistema"
                                       hint="Data de realização do cadastro!"
                                       isReadyOnly="false"
                                       disabled="true">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <wbr />
                <table>
                    <tr>
                        <td>
                            <app-input formControlName="nome"
                                       id="nome"
                                       label="Nome do Album"
                                       minlength="1"
                                       maxlength="100"
                                       placeholder="Insira o nome do album."
                                       hint="Ex.: Guetta Blaster">
                            </app-input>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <app-textarea formControlName="descricao"
                                          id="descricao"
                                          label="Descrição do Álbum"
                                          maxlength="50"
                                          placeholder="Insira uma descrição do álbum">
                            </app-textarea>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <app-input formControlName="genero"
                                       id="genero"
                                       label="Genero"
                                       minlength="1"
                                       maxlength="100"
                                       placeholder="Insira o genero do album"
                                       hint="Ex.: Axe ... lol">
                            </app-input>
                        </td>
                        <td>
                            <app-datepicker formControlName="ano"
                                            id="ano"
                                            startView="year"
                                            label="Data de lançamento"
                                            placeholder="Informe a data de lançamento do álbum">
                            </app-datepicker>
                        </td>
                    </tr>
                </table>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <button class="full-width" mat-button color="primary" status="primary" [disabled]="getTheForm().invalid" (click)="onSave()"><mat-icon>save</mat-icon>Salvar</button>
                        </td>
                        <td>
                            <button class="full-width" mat-button color="accent" status="primary" (click)="onClear()"><mat-icon>clear</mat-icon>Limpar</button>
                        </td>
                        <td>
                            <button class="full-width" mat-button color="warn" status="warn" routerLink="/albuns"><mat-icon>keyboard_return</mat-icon>Voltar</button>
                        </td>
                    </tr>
                </table>
                <wbr />
            </form>
        </div>
    </mat-card-content>
</mat-card>

