div.logo-background {
    background-image: url(../../../../assets/images/camada1.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
