// Include non-theme styles for core.
@import '../../../../theme.scss';

.swiper-container {
    width: 100%;
    height: 230px;
    position: absolute;
   
}

.swiper-slide {
    background-position: center;
    background-color: $black;
    background-size: cover;
}

.swiper-footer {
}
