<a name="rodape"></a>
<div class="swiper-container swiper-footer">
    <div class="swiper-wrapper">
        <div class="swiper-slide" data-swiper-autoplay="5000">
            <footer class="android-footer mdl-mega-footer">
                <div class="mdl-mega-footer--top-section">
                    <div class="mdl-mega-footer--left-section">
                        <a class="fa fa-facebook" [href]="getIProprietarioDTO()?.facebook"></a>
                        &nbsp; &nbsp;
                        <a class="fa fa-instagram" [href]="getIProprietarioDTO()?.instagram"></a>
                        &nbsp; &nbsp;
                        <a class="fa fa-spotify" [href]="getIProprietarioDTO()?.spotify"></a>
                        &nbsp; &nbsp;
                        <a class="fa fa-twitch" [href]="getIProprietarioDTO()?.twitch"></a>
                        &nbsp; &nbsp;
                        <a class="fa fa-twitter" [href]="getIProprietarioDTO()?.twitter"></a>
                        &nbsp; &nbsp;
                        <a class="fa fa-youtube" [href]="getIProprietarioDTO()?.youtube"></a>
                    </div>
                    <div class="mdl-mega-footer--right-section">
                        <a class="mdl-typography--font-light" href="#topo">
                            Voltar ao Topo
                            <i class="material-icons">expand_less</i>
                        </a>
                    </div>
                </div>
                <div class="mdl-mega-footer--middle-section">
                    <p class="mdl-typography--font-light"><strong>Quem é V1LLSEC:</strong></p>
                    <p class="mdl-typography--font-light">{{ getIProprietarioDTO()?.sobreMim }}</p>
                </div>
                <div class="mdl-mega-footer--bottom-section"></div>
            </footer>
        </div>
        <div class="swiper-slide" data-swiper-autoplay="5000">
            <footer class="android-footer mdl-mega-footer">
                <div class="mdl-mega-footer--top-section">
                    <div class="mdl-mega-footer--left-section">
                        <div class="example-element-img mat-elevation-z8">
                            <img class="example-element-img" src="{{ getIProprietarioDTO()?.urlImgPerfil }}">
                        </div>
                    </div>
                    <div class="mdl-mega-footer--right-section">
                        <a class="mdl-typography--font-light" href="#topo">
                            Voltar ao Topo
                            <i class="material-icons">expand_less</i>
                        </a>
                    </div>
                </div>
                <div class="mdl-mega-footer--middle-section">
                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-label><strong>Nome: </strong> {{ getIProprietarioDTO()?.nome }}</mat-label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-label><strong>Email: </strong> {{ getIProprietarioDTO()?.email }}</mat-label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-label><strong>Telefone 1.: </strong> {{ getIProprietarioDTO()?.numeroTelefone1 }} - {{ getIProprietarioDTO()?.tipoTelefone1 }}</mat-label>
                            </td>
                            <td>
                                <mat-label><strong>Telefone 2.: </strong> {{ getIProprietarioDTO()?.numeroTelefone2 }} - {{ getIProprietarioDTO()?.tipoTelefone2 }}</mat-label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="mdl-mega-footer--bottom-section"></div>
            </footer>
        </div>
        <div class="swiper-slide" data-swiper-autoplay="5000">
            <footer class="android-footer mdl-mega-footer">
                <div class="mdl-mega-footer--middle-section">
                    <iframe [src]="getIProprietarioDTO()?.googleMapsUrl | safe" width="100%" height="100%"></iframe>
                </div>
                <div class="mdl-mega-footer--bottom-section">
                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-label><strong>CEP: </strong> {{ getIProprietarioDTO()?.cep }}</mat-label>
                            </td>
                            <td>
                                <mat-label><strong>Endereço: </strong> {{ getIProprietarioDTO()?.logradouro }}</mat-label>
                            </td>
                            <td>
                                <mat-label><strong>Bairro: </strong> {{ getIProprietarioDTO()?.bairro }}</mat-label>
                            </td>
                            <td>
                                <mat-label><strong>Cidade: </strong> {{ getIProprietarioDTO()?.cidade }}</mat-label>
                            </td>
                            <td>
                                <mat-label><strong>Estado: </strong> {{ getIProprietarioDTO()?.estado }}</mat-label>
                            </td>
                            <td>
                                <mat-label><strong>Pais: </strong> {{ getIProprietarioDTO()?.pais }}</mat-label>
                            </td>
                        </tr>
                    </table>
                </div>
            </footer>
        </div>
        <div class="swiper-slide" data-swiper-autoplay="5000">
            <footer class="android-footer mdl-mega-footer">
                <div class="mdl-mega-footer--top-section">
                    <div class="mdl-mega-footer--left-section">
                        <h1>Desenvolvedor</h1>
                        <table>
                            <tr>
                                <td><img style="border-radius: 50%;" src="https://github.com/ederrosa.png" width="100px;" alt="EXSR"/></td>
                                <td><a href="https://github.com/ederrosa"><img src="https://img.shields.io/static/v1?label=GitHub&message=Eder_Rosa&style=for-the-badge&logo=GITHUB"/></a></td>
                                <td><a href="https://github.com/ederrosa/villsec-backend-java"><img src="https://img.shields.io/static/v1?label=Frontend&message=Angular&style=for-the-badge&logo=GITHUB"/></a></td>
                                <td><a href="https://github.com/ederrosa/villsec-frontend-angular"><img src="https://img.shields.io/static/v1?label=Backend&message=Java&style=for-the-badge&logo=GITHUB"/></a></td>
                            </tr>
                            <tr>
                                <td><b>Eder Rosa</b><a href="https://github.com/ederrosa" title="github"></a></td>
                                <td> <a href="https://www.linkedin.com/in/eder-xavier-de-souza-rosa-370a4b74/"><img src="https://img.shields.io/static/v1?label=LINKEDIN&message=Eder_Rosa&color=000000&labelColor=0e76a8&style=for-the-badge&logo=LINKEDIN"/></a></td>
                                <td><img src="https://img.shields.io/static/v1?label=Hotmail&message=eder-x@hotmail.com&&color=000000&labelColor=00A4EF&style=for-the-badge"/></td>
                                <td><img src="https://img.shields.io/static/v1?label=Outlook&message=eder.rosa01@fatec.sp.gov.br&&color=000000&labelColor=FFB900&style=for-the-badge"/></td>
                            </tr>
                        </table>                                          
                    </div>                    
                </div>
                <div class="mdl-mega-footer--middle-section">
                </div>
                <div class="mdl-mega-footer--bottom-section"></div>
            </footer>
        </div>
    </div>
</div>
